body {
    background-color: #220018;

}
.chat {

    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.chat span {
    margin-bottom: 10px;
}
form {
    padding: 30px;
    margin-top: 10px;
} 
.container {
        padding: 100px;
        height: 100%;
        display: grid;
        grid-template-rows: 70% 30%;
}
.body-chat{
    height: 100%;
    grid-column: 2;
    padding: 50px;
    background-color: white;
    }

.header-chat{
    height: 100%;
    padding: 20px;
    grid-column: 1;
    background-color: gray;

}