body {
    background-color: #220018;
}
/* width */
::-webkit-scrollbar {
    width: 1.90px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 375px;
}
.chat span {
    padding: 10px;
    font-size: 12px;
    width: 37%;
    margin-bottom: 5px;
    background-color: azure;
    word-break: break-all;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
}
form {
    margin-top: 10px;
    
} 
form textarea {
    border-style: none;
    background-color: #f7f4f3;
    border-top: 1px solid #220018;
    width: 100%;
}
.container {
    padding: 30px;
    height: 100%;
        
}
.body-chat{
    height: 100%;
    grid-column: 1;
    padding: 50px;
    background-color: white;
    
}
.header-chat{
    border-right: 1px solid #220018;
}