<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CodesBook</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body class="text-center d-flex d-md-flex justify-content-center align-items-center align-content-center"
    style="background: rgb(37,37,37);height: 641px;min-width: 0px;">
    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center"
        style="background: #f7f4f3;width: 500px;height: 580px;border-radius: 13px;border-style: solid;border-color: rgba(33,37,41,0);border-bottom-width: 1px;">
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-light alert-dismissible fade show" role="alert"
                style="z-index: 1; position:absolute;">
                {{ message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block conteudo %}
            {% endblock %}
            
        </div>
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>