    {% extends "base.html" %}
    {% block conteudo %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_style.css') }}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> {{ message }}.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">

        <div class="row">
            <div class="col-md-3 header-chat">
                <img src="{{ url_for('uploads', filename=friend.image ) }}" class="rounded-circle" alt="" width="50"
                height="50">
            <h3>{{friend._name}}</h3>
            </div>
            <div class="col-md-8">
                <div class="chat col"></div>
                <div>
                    <form>
                        <textarea id="message" placeholder="insira sua mensagem"></textarea>
                        <button class="btn btn-primary" id="btn-submit" type="submit"><i class="bi bi-send"></i>
                        </button>
                    </form>
                </div>
            </div>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.onload = function() {
            const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port)

            function addToChat(msg) {
                const span = document.createElement("span");
                const chat = document.querySelector(".chat");
                span.innerHTML = `${msg.message}`;
                if (msg.username == '{{ session['user_name'] }}'){
                    span.style.cssText += 'margin-left: 50%;'
                    span.style.cssText += 'border-bottom-left-radius: 7%;'
                    span.style.cssText += 'border-top-left-radius: 7%;'
                    span.style.cssText += 'border-top-right-radius: 7%;'
                    span.style.cssText += 'border-bottom-right-radius: 0%;'
                }
                chat.append(span);
            }

            socket.on('connect', () => {
                socket.emit('join',{"channel": {{room_hash}}, "username": '{{session['user_name']}}' });
            });

            document.querySelector("#btn-submit").addEventListener("click", function(event) {
                event.preventDefault();
                message = document.getElementById('message').value
                if(message !== ""){
                    socket.emit('send message', {'message': message , 'channel': {{room_hash}}, 'username':  '{{session['user_name']}}' });
                    document.getElementById('message').value='';
                }
                
            })

            document.addEventListener("keypress", function(e) {
                if(e.key === 'Enter') {
                    event.preventDefault();
                    message = document.getElementById('message').value
                    if(message !== ""){
                        socket.emit('send message', {'message': message , 'channel': {{room_hash}}, 'username':  '{{session['user_name']}}' });
                        document.getElementById('message').value='';
                    }
                }
            });

            socket.on('getMessage', (msg) => {
                addToChat(msg)
                $().ready(function(){
                    $(".chat").animate({ scrollTop: 100000 }, 0);
                });
            })
            socket.on('disconnect', () => {
                     socket.emit('join',{"channel": {{room_hash}}, "username": '{{session['user_name']}}' });
            })
        }
    </script>
</body>
</html>

{% endblock %}