
{% extends "base_login.html" %}
{% block conteudo %}

<h1>LOGIN</h1>


    <form method="POST" action="/authenticate">
        <div class="">
          <label for="email" class="">Email</label>
          <div class="">
            <input type="text" class="form-control" id="email" name="email" placeholder="Usuario ou e-mail">
          </div>
        </div>
        <div class="">
          <label for="Password" class="">Senha</label>
          <div class="">
            <input type="password" class="form-control" id="Password" name="password" placeholder="Senha">
          </div>
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
{% endblock %}