{% extends "base.html" %}
{% block conteudo %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> {{ message }}.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="container-fluid" style="background: #f7f4f3;">
    <!-- Modal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="DeleteModalContent">
        <div class="modal-header">
          <h5 class="modal-title" id="DeleteModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Tem certeza que deseja excluir sua conta?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <a href="{{ url_for('delete_account', id=user._id) }}"><button type="button" class="btn btn-primary">Sim</button></a>
        </div>
      </div>
    </div>
  </div>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <img class="rounded-circle mb-3 mt-4" src="{{ url_for('uploads', filename=user.image ) }}" width="160" height="160" id="user_profile">
                    <div class="mb-3">
                      <p>{{user._name}}</p>
                      {% if user._id != session['user_id'] %}
                      {% if not friend_exists %}
                      <a href="{{ url_for('add_friend', id=user._id) }}"><Button
                          class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Seguir</Button></a>
                      {% else %}
                      <a href="{{ url_for('remove_friend', id=user._id) }}"><Button class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Remover
                          amigo</Button></a>
                      <a href="{{url_for('chat', id=user._id)}}"><Button class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Mensagem</Button></a>

                      {% endif %}
                      {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card textwhite bg-primary text-white shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card textwhite bg-success text-white shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3"><label class="form-label" for="username" style="color: rgb(0,0,0);font-size: 21px;height: 0.5px;"><strong>Usuário</strong><br></label></div>
                        <div class="card-body">
                          <form action="{{ url_for('user_save' ,id=user._id) }}" method="post"
                          enctype="multipart/form-data">
                            <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="name"><strong>Username</strong></label><input class="form-control" type="text" id="username" value="{{user._username}}" name="name" required></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" value="{{user._email}}" name="email" required></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="name_complete"><strong>Name Complete</strong></label><input class="form-control" type="text" id="name_complete" value="{{user._name}}" name="name_complete" required></div>
                                    </div>
                                    <div class="col">
                                      <div class="mb-3"><label class="form-label" for="image"><strong>Foto</strong></label><input class="form-control" type="file" name="image" id="image" onchange="previewImage()" accept="image/*"></div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="mb-3"><label class="form-label" for="job"><strong>Profissão</strong></label><input class="form-control" type="text" id="job" value="{{user._job}}" name="job" ></div>
                                    <div class="mb-3"><label class="form-label" for="Cidade"><strong>Cidade</strong></label><input class="form-control" type="text" id="Cidade" value="{{user._city}}" name="city" ></div>
                                  </div>
                                  <div class="col">
                                    <div class="mb-3"><label class="form-label" for="age"><strong>Data de Nascimento</strong></label><input class="form-control" type="date" id="Data de Nascimento" value="{{user._age}}" name="age" ></div>
                                    <div class="mb-3"><label class="form-label" for="Estado"><strong>Estado</strong></label><input class="form-control" type="text" id="Estado" value="{{user._state}}" name="state" ></div>
                                    <div class="mb-3"><label class="form-label" for="password"><strong>Senha</strong></label><input class="form-control" type="password" id="password" name="password" required></div>
                                    
                                  </div>
                              </div>
                              <div class="card shadow mb-4">
                                <div class="card-header py-3" style="height: 55.5px;">
                                  <label class="form-label" for="address" style="color: rgb(0,0,0);font-size: 21px;"><strong>Biografia</strong><br></label></div>
                                <div class="card-body"><textarea style="width: 100%;height: 156px;" name="bibliografy" >{{user._bibliografy}}</textarea></div>
                            </div>
                            <div class="mb-3">
                              <Button class="btn btn-primary btn-sm"type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Salvar</Button>


                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-primary btn-sm button_cancelar" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;" data-bs-toggle="modal"
                                data-bs-target="#DeleteModal">
                                Excluir conta
                              </button>

                      
                            </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  document.querySelector('#new-publication').setAttribute('hidden','')
</script>
    <script>
      function previewImage() {
        let photo = document.getElementById('user_profile')
        let file = document.getElementById('image').files[0]

        let reader = new FileReader()

        reader.onloadend = function () {
          photo.src = reader.result
        }

        if (file) {
          reader.readAsDataURL(file)
        } else {
          photo.src = ''
        }
      }
    </script>
{% endblock %}