  {% extends "base.html" %}
  {% block conteudo %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> {{ message }}.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <div class="container-fluid" style="background: #f7f4f3;">
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center shadow">
                        <img class="rounded-circle mb-3 mt-4" src="{{ url_for('uploads', filename=user.image ) }}" width="160" height="160">
                        <div class="mb-3">
                          <p>{{user._name}}</p>
                          {% if user._id != session['user_id'] %}
                          {% if not friend_exists %}
                          <a href="{{ url_for('add_friend', id=user._id) }}"><Button
                              class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Seguir</Button></a>
                          {% else %}
                          <a href="{{ url_for('remove_friend', id=user._id) }}"><Button class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Remover
                              amigo</Button></a>
                          {% endif %}
                          <a href="{{url_for('chat', id=user._id)}}"><Button class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Mensagem</Button></a>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                  <div class="card-header py-3" style="height: 55.5px;">
                    <label class="form-label" for="address" style="color: rgb(0,0,0);font-size: 21px;"><strong>Biografia</strong><br></label></div>
                  <div class="card-body"><textarea style="width: 100%;height: 156px; border: none" disabled></textarea></div>
              </div>
            </div>
            <div class="col-lg-8">
                <div class="row mb-3 d-none">
                    <div class="col">
                        <div class="card textwhite bg-primary text-white shadow">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <p class="m-0">Peformance</p>
                                        <p class="m-0"><strong>65.2%</strong></p>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                </div>
                                <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card textwhite bg-success text-white shadow">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <p class="m-0">Peformance</p>
                                        <p class="m-0"><strong>65.2%</strong></p>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                </div>
                                <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3"><label class="form-label" for="username" style="color: rgb(0,0,0);font-size: 21px;height: 0.5px;"><strong>Usuário</strong><br></label></div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="username"><strong>Username</strong></label><input class="form-control" type="text" id="username" placeholder="{{user._name}}" name="username" disabled></div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="{{user._email}}" name="email" disabled></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="name_complete"><strong>Name Complete</strong></label><input class="form-control" type="text" id="name_complete" placeholder="{{user._name}}" name="name_complete" disabled></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="mb-3"><label class="form-label" for="job"><strong>job</strong></label><input class="form-control" type="text" id="job" placeholder="{{user._job}}" name="job" disabled></div>
                                        <div class="mb-3"><label class="form-label" for="Cidade"><strong>Cidade</strong></label><input class="form-control" type="text" id="Cidade" placeholder="USA" name="Cidade" disabled></div>
                                      </div>
                                      <div class="col">
                                        <div class="mb-3"><label class="form-label" for="Data de Nascimento"><strong>Data de Nascimento</strong></label><input class="form-control" type="date" id="Data de Nascimento" value="{{user._age}}" name="Data de Nascimento" disabled></div>
                                        <div class="mb-3"><label class="form-label" for="Estado"><strong>Estado</strong></label><input class="form-control" type="text" id="Estado" placeholder="USA" name="Estado" disabled></div>
                                        
                                      </div>
                                  </div>
                                </form>
                                <div class="mb-3">
                                  {% if user._id == session['user_id'] %}
                                  <a href="{{ url_for('user_profile' ,pag='edit', id=session['user_id']) }}"
                                    style="text-decoration: none; color: black;">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background: rgb(0,0,0);border-radius: 14px;border-style: none;height: 35px;">Editar</button>
                                    {% endif %}
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
