{% extends "base_login.html" %}
{% block conteudo %}


<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="{{url_for('sing_in')}}" method="POST">
			<h1>Sing in</h1>
			<span>or use your account</span>
      <input type="text" placeholder="Name" name="name"  required/>
			<input type="email" placeholder="Email" name="email" required />
			<input type="password" placeholder="Password" name="password" required />
			<button type="submit">Sing In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
		</div>
		<div class="overlay-panel overlay-right">
			<a href="{{ url_for('login') }}"><div class="cima"><img src="static\img\icon\bolinhasdolinux.png" width="60px" height="20px"></div></a>
			<h1 class="pisc">_</h1>
		</div>
	</div>
</div>

</div>
{% endblock %}